.footer {
  margin: 20px 0;
  background-color: #1e0044;
  border-radius: 10px;
  padding: 25px;
  font-family: "Montserrat", sans-serif;

  .title-links {
    display: flex;
    justify-content: space-between;

    .links {
      display: flex;
      gap: 20px;

      a {
        text-decoration: none;
        i {
          display: none;
        }
      }
    }
  }
  .coprghyt {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

    a{
      // color: #;
      
      color: #8338ec;
      text-decoration: none;
    }
  }
  .title {
    display: flex;
    justify-content: center;
    padding: 90px 0;

    h1 {
      width: 60%;
      font-size: 70px;
      font-weight: 400;
      color: #fff;
      text-align: center;
    }
  }
}
@media screen and (max-width: 600px) {
  .footer {
    margin: 70px 0;
    .title-links {
      .links {
        a {
          span {
            display: none;
          }
          i {
            display: block;
            font-size: 25px;
          }
        }
      }
    }
    .coprghyt {
      margin-top: 0px;
      p {
        font-size: 10px;
      }
    }
    .title {
      h1 {
        font-size: 50px;
        width: auto;
      }
    }
  }
}
