.cards {
    .card {
      margin-top: 45px;
    font-family: "Montserrat", sans-serif;

    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 25px;

    .titles {
      width: 40%;

      span {
        color: black;
      }
      h3 {
        margin-top: 10px;
        color: black;
        font-size: 60px;
        font-weight: 500;
      }
      .btn {
        margin-top: 10px;
        display: flex;
        gap: 10px;
        a {
          padding: 7px;
          border-radius: 20px;
          text-decoration: none;
          color: black;
          border: 1px solid #0b001a;
        }
      }
      p {
        margin-top: 30%;
        color: black;
      }

     .lets-btn{
         margin-top: 40px;
         .lets{
        padding: 7px 20px;
        border-radius: 50px;
        font-size: 15px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        border: 1px solid #8338ec;
        text-align: center;
        color: #1e0044;
        text-decoration: none;
        box-shadow: 0px 0px 15px #8338ec59;
        transition: all 0.3s ease;
      }
      .lets:hover {
        box-shadow: 0px 0px 20px #8338ec;
      }
     }
    }

    .img {
      width: 45%;
      img {
        border-radius: 20px;
        width: 100%;
      }
    }
  }
}
