.about {
  margin-top: 105px;
  padding: 25px 0;
  font-size: medium;
  font-family: "Montserrat", sans-serif;

  .about_pages {
    display: flex;
    padding: 25px;
    justify-content: space-between;
    background-color: #1e0044;
    border-radius: 10px;
    .my_info {
      width: 50%;
      .title {
        font-family: "Courgette", cursive;
        font-size: 55px;
      }
      .desc {
        margin-top: 10px;
        font-size: 18px;
      }
      .skils{
        position: relative;
        top: 50px;
      }
      .link {
        margin-top: 30px;
        p {
          font-size: 35px;
          font-weight: 600;
        }
        .icon_link {
          display: flex;
          gap: 15px;
          margin-top: 10px;
          i {
            color: white;
            font-size: 35px;
          }
        }
      }
      .social_media {
        margin-top: 150px;
        .social {
          font-size: 1px;

          i {
            font-size: 20px;
          }
        }
      }
    }
    .my_certificate {

      
      .carusel{
        border-radius: 50px;
      }
      width: 40%;
      .certificate {
        text-align: center;
        img {
          border-radius: 10px;
          width: 100%;
        }
        .cer_title {
          margin: 10px 0;
        }
        .found {
          display: flex;
          gap: 10px;
          justify-content: center;
          img {
            width: 20%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about{
    margin-top: 0;
    .about_pages{
      display: block;
      .my_info{
        width: 100%;
        
        .link{
          margin-top: 0px;
        }
      }
      .social_media{
        display: none;
      }
      .my_certificate{
        width: 100%;
        margin-top: 100px;
      }
    }
  }
}
