.project {
  margin-top: 125px;
  .navbar-two {
    display: flex;
    justify-content: center;
    gap: 10px;
    .nav {
      -webkit-tap-highlight-color:transparent;
      background-color: #1e0044;
      padding: 10px;
      border-radius: 10px;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
    }
  }
}
@media screen and (max-width: 600px) {
  .project {
    margin-top: 20px;
  }
}
